.messages{
    margin-top: 20px;
    border-radius: 10px;
    padding:15px
}
.messages img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.messages span{
    text-align: left;
    margin-left: 5px;
}
.messages .own{
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding:5px;
    margin-left: 10px;
    background: rgb(193, 196, 203);
}
.message{
    flex-direction: row;
    background: rgb(137, 163, 228);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding:5px;
    margin-left: 10px;
}


.message.own span{
    text-align: left;
}
.messages-div{
    height: 60vh;
    overflow-y: auto
}